<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Tournaments</title>
</head>
<body>
<p>
    <a href="/tournaments">Back to list of tournaments</a>
</p>
<form th:action="@{/edit-tournaments}" th:object="${tournaments}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tournaments Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>National</td>
            <td>
                <select name="national">
                    <option th:each="p : ${national}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update tournaments"></td>
        </tr>
    </table>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>