<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>My CV</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">


    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="css/common-css/bootstrap.css" rel="stylesheet">

    <link href="css/common-css/ionicons.css" rel="stylesheet">

    <link href="css/common-css/fluidbox.min.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

    <link href="css/responsive.css" rel="stylesheet">

</head>
<body>

<header>
    <div class="container">
        <div class="heading-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-location-outline"></i>
                        <div class="right-area">
                            <h5>165 Cau Giay</h5>
                            <h5>Ha Noi, Viet Nam</h5>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <div class="right-area">
                            <h5>(84)356.345.537</h5>
                            <h6>REPLY IN 24 HOURS</h6>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- heading-wrapper -->
    </div><!-- container -->
</header>

<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">
                <div class="intro">
                    <div class="profile-img"><img alt=""
                                                  src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-1/p320x320/33526207_1654680427973254_6584429274176946176_n.jpg?_nc_cat=108&_nc_ohc=2askiYfzUb8AQmhMB3o1JMKtJtJhERsyyeOPI9SKLKgFaNvkf22Hv3afg&_nc_ht=scontent.fhan4-1.fna&oh=419982e277dcdaede735de3c0f65f9c9&oe=5E7AC281">
                    </div>
                    <h2><b>NGUYỄN HỮU PHI</b></h2>
                    <h4 class="font-yellow">Java Web Developer</h4>
                    <ul class="information margin-tb-30">
                        <li><b>BORN : </b>December 18, 1992</li>
                        <li><b>EMAIL : </b>huuphi9x@mgmail.com</li>
                        <li><b>MARITAL STATUS : </b>Single</li>
                    </ul>
                    <ul class="social-icons">
                        <li><a href="https://www.linkedin.com/in/phi-nguyen-b3b904199/"><i
                                class="ion-social-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/nguyen.h.phi.1"><i class="ion-social-facebook"></i></a>
                        </li>
                    </ul>
                </div><!-- intro -->
            </div><!-- col-sm-8 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- intro-section -->


<section class="loaders-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading">
                    <h4><b>Loaders</b></h4>
                </div>
            </div><!-- col-sm-12 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".70">
                        <div></div>
                        <h6 class="progress-title">HTML/CSS/JS</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".75">
                        <div></div>
                        <h6 class="progress-title">JAVA CORE</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".80">
                        <div></div>
                        <h6 class="progress-title">SPRING</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-50">
                    <div class="radial-progress" data-prog-percent=".70">
                        <div></div>
                        <h6 class="progress-title">MYSQL</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- loaders-section -->

<footer>
    <p class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i aria-hidden="true" class="ion-heart"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
</footer>


<!-- SCIPTS -->

<script src="css/common-js/jquery-3.2.1.min.js"></script>

<script src="css/common-js/tether.min.js"></script>

<script src="css/common-js/bootstrap.js"></script>

<script src="css/common-js/isotope.pkgd.min.js"></script>

<script src="css/common-js/jquery.waypoints.min.js"></script>

<script src="css/common-js/progressbar.min.js"></script>

<script src="css/common-js/jquery.fluidbox.min.js"></script>

<script src="css/common-js/scripts.js"></script>

</body>
</html>