<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body{
            background: url("https://img.uefa.com/imgml/uefacom/ucl/fallback.jpg");
        }
        a{
            color: white;
        }
        h1{
            color: whitesmoke;
        }
    </style>
</head>
<body>
<center>
<h1>Football Club Manager</h1>
</center>
<center style="margin-top: 250px">
    <div id="home">
        <p>
            <a href="/club">Go to the list of clubs</a>
        </p>
        <p>
            <a href="/player">Go to the list of player</a>
        </p>
        <p>
            <a href="/national">Go to the list of national</a>
        </p>
        <p>
            <a href="/tournaments">Go to the list of tournaments</a>
        </p>
    </div>
</center>
</body>
</html>