<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Club</title>
</head>
<body>
<p>
    <a href="/static">Back to list of club</a>
</p>
<form action="#" th:action="@{/create-club}" th:object="${club}" method="post">
<table border="1">
    <tr>
        <td>Club Name</td>
        <td><input type="text" th:field="*{name}"></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: brown"></td>
    </tr>
    <tr>
        <td>Stadium</td>
        <td><input type="text" th:field="*{stadium}"></td>
        <td th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}" style="color: brown"></td>
    </tr>
    <tr>
        <td>Tournaments</td>
        <td><input type="text" th:field="*{tournaments}"></td>
        <td th:if="${#fields.hasErrors('tournaments')}" th:errors="*{tournaments}" style="color: brown"></td>
    </tr>
    <tr>
        <td>National</td>
        <td><input type="text" th:field="*{national}"></td>
        <td th:if="${#fields.hasErrors('national')}" th:errors="*{national}" style="color: brown"></td>
    </tr>
</table>
    <button type="submit">Create</button>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</form>
</body>
</html>