<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Club</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/club">Customer list</a>
</p>
<form th:action="@{/delete-club}" th:object="${club}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Club Name:</td>
            <td th:text="${club.name}"></td>
        </tr>
        <tr>
            <td>Stadium:</td>
            <td th:text="${club.stadium}"></td>
        </tr>
        <tr>
            <td>Tournaments:</td>
            <td th:text="${club.tournaments.name}"></td>
        </tr>
        <tr>
            <td>National:</td>
            <td th:text="${club.national.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Club"></td>
        </tr>
    </table>
</form>
</body>
</html>