<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player List Of Club</title>
</head>
<body>
<p>
    <a href="/club">Back to list of club</a>
</p>
<p>
    <a href="/create-player">Create a player for this club</a>
</p>
<table border="1">
    <tr>
        <td>Player Name</td>
        <td>Age</td>
        <td>Position</td>
        <td>National</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="player : ${club}">
        <tr>
            <td th:text="${player.name}"></td>
            <td th:text="${player.age}"></td>
            <td th:text="${player.position.name}"></td>
            <td th:text="${player.national.name}"></td>
            <td><a th:href="@{/edit-player/__${player.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-player/__${player.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>