<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Club</title>
</head>
<body>
<p>
    <a href="/static">Back to list of club</a>
</p>
<form th:action="@{/edit-club}" th:object="${club}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Club Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Stadium</td>
            <td><input type="text" th:field="*{stadium}"/></td>
        </tr>
        <tr>
            <td>Tournaments</td>
            <td>
                <select name="tournaments">
                    <option th:each="p : ${tournaments}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{tournaments.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>National</td>
            <td>
                <select name="national">
                    <option th:each="p : ${national}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{national.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update club"></td>
        </tr>
    </table>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>