<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Club List</title>
</head>
<body>
<p>
    <a href="/create-club">Create a club</a>
</p>
<form th:object="${club}" th:action="@{/search-club}" method="get">
    <input type="text" name="name" id="search" th:value="${search}"/>
    <input type="submit" value="Search"/>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
       <td>Club Name</td>
        <td>Stadium</td>
        <td>Tournaments</td>
        <td>National</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
        <th:block th:each="club : ${clubs}">
          <tr>
              <td th:text="${club.name}"></td>
              <td th:text="${club.stadium}"></td>
              <td th:text="${club.tournaments}"></td>
              <td th:text="${club.national}"></td>
              <td><a th:href="@{/edit-club/__${club.id}__ }">Edit</a></td>
              <td><a th:href="@{/delete-club/__${club.id}__ }">Delete</a></td>
          </tr>
        </th:block>
</table>
<div>
    <a th:href="@{'/users'(page=${clubs.number - 1})}" th:if="${clubs.hasPrevious()}">Previous</a>
    <span th:text="${clubs.number + 1}"></span>/<span th:text="${clubs.totalPages}"></span>
    <a th:href="@{'/users'(page=${clubs.number + 1})}" th:if="${clubs.hasNext()}">Next</a>
</div>
</body>
</html>