<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Search Club</title>
</head>
<body>
<div class="container">
    <h2>Search for Club</h2>
    <div>
        <h2>Clubs List</h2>
        <p>
            <a href="/">Back to list of club</a>
        </p>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Stadium</th>
                <th>Tournaments</th>
                <th>National</th>
            </tr>
            <tr th:each="club: ${clubList}">
                <td th:text="${club.id}">id</td>
                <td th:text="${club.name}">name</td>
                <td th:text="${club.stadium}">stadium</td>
                <td th:text="${club.tournaments.name}">tournaments</td>
                <td th:text="${club.national.name}">national</td>
            </tr>
        </table>
    </div>
</div>
<div>
    <a th:href="@{'/search-club'(page=${clubList.number - 1})}" th:if="${clubList.hasPrevious()}">Previous</a>
    <span th:text="${clubList.number + 1}"></span>/<span th:text="${clubList.totalPages}"></span>
    <a th:href="@{'/search-club'(page=${clubList.number + 1})}" th:if="${clubList.hasNext()}">Next</a>
</div>
</body>
</html>